
<div class="container mt-3">

  <div class="intro">
    <h1>All our flats (<%= @flats.count %>)</h1>
  </div>
  <div class="cards">
    <% @flats.each do |flat| %>
      <div class="card-flat">
        <div class="card-content">
          <div class="flat-card-title">
            <h4><%= flat.name %></h4>
          </div>
          <div><p><%= flat.address %></p></div>
          <div class="card-detail">
            <p>C:<%= flat.number_of_guests %></p>
            <p>P:<%= flat.price_per_night %></p>
          </div>
        </div>
        <div class="card-more-info">
          <%= link_to "More info", flat_path(flat) %>
        </div>
      </div>
    <% end %>
  </div>

</div>

