
<div class="container mt-3">

  <div class="intro">
    <h1>All our flats (<%= @flats.count %>)</h1>
  </div>
  <div class="cards">
    <% @flats.each do |flat| %>
      <div class="card-flat">
        <div class="card-content">
          <div class="flat-card-title">
            <h4><%= flat.name %></h4>
          </div>
          <div class="test">

            <div class="flat-card-address">
              <p><%= flat.address %></p>
            </div>
            <div class="flat-card-detail">
              <div class="d-flex">
                <i class="material-icons mr-2">people</i><%= flat.number_of_guests %>
              </div>
              <div class="d-flex ml-3">
                <i class="material-icons mr-2">euro_symbol</i><%= flat.price_per_night %>
              </div>
            </div>
          </div>
        </div>
        <div class="flat-card-more">
          <div id="flat-card-more-info">
            <%= link_to "More info", flat_path(flat) %>
          </div>
          <div id="flat-card-more-edit">
            <%= link_to edit_flat_path(flat), class: "text-warning" do  %>
            Edit
            <% end %>
          </div>
          <div id="flat-card-more-edit">
            <%= link_to flat_path(flat), method: :delete,
            data: { confirm: "Are you sure?" }, class: "text-danger" do  %>
            Delete
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>

